.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-bg {
  height: 300px;
  background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;
}

.me-auto a {
  font-size: 14px;
  color: gray;
  text-decoration: none;
  padding: 0 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.alert {
  position: fixed;
  top: 0;
}
.ani-fadein-start {
  opacity: 0;
}
.ani-fadein-end {
  opacity: 1;
  transition: opacity 0.2s;
}

.ani-fadeout-start {
  opacity: 1;
}
.ani-fadeout-end {
  opacity: 0;
  transition: opacity 1.5s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
